[Unit]
 Description=Video Shuffler
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/home/pi/videoshuffler

 [Install]
 WantedBy=multi-user.target